@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --primary-color: #00008B;
  --primary-color-dark: #4682B4;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader{
  max-width: fit-content; /*i dont know*/
  padding: 8px;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
}

.section__header{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: var(--text-dark);
}

.section__header span{
  color: var(--primary-color);
}

.section__description{
  color: var(--text-light);
  line-height: 1.5rem;
}

.btn{
  padding: calc(.75rem + 2px) 1.5rem; /*I dont know*/
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: .3s;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--primary-color-dark);
}

img{
  display: flex;
  width: 100%;
}

a{
  text-decoration: none;
  transition: 0.3s;
}

ul{
  list-style: none;
}

html,
body{
  scroll-behavior: smooth;
}

body{
  font-family: 'Outfit', sans-serif;
}

nav{
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header{
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.nav__logo a span{
  padding: 2px 10px;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 5px;
}

.nav__menu__btn{
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: .5s;
  z-index: -1;
}

.nav__links.open{
  transform: translateY(100%);
}

.nav__links a{
  color: var(--white);
  font-weight: 500;
}

.nav__btn{
  display: none;
}

.header__container{
  display: grid;
  gap: 4rem 2rem;
}

.header__image{
  width: 100%;
  position: relative;
}

.header__image::after,
.header__image::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 80%;
  max-width: 400px;
}

.header__image::before{
  background-color: var(--primary-color);
  bottom: 0;
  z-index: -2;
  left: 50%;
  transform: translateX(-50%);
}

.header__image::after{
  border: 5px solid var(--text-dark);
  opacity: 0.75;
  bottom:  -3rem;
  left: 50%;
  transform: translateX(calc(-50% - 3rem));
  z-index: -1;
}

.header__image img{
  max-width: 350px;
  margin-inline: auto;
}
.header__content .section__subheader{
  margin-inline: auto;
}

.header__content .section__header{
  text-align: center;
  font-size: 4rem;
  line-height: 4.25rem;
  margin-bottom: 2rem;
}

.header__content .section__description{
  margin-bottom: 2rem;
  text-align: center;
}

.header__content .header_btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header_btns a{
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 500;
}

.header_btns a span{
  font-size: 1.5rem;
  color: var(--primary-color);
}
/* ------------------------------------------------------------------------------------------------------------------------media-queries----------------------------------------------------------------------------------------------------------------------- */

@media (width > 768px){
  nav{
    position: static;
    padding: 2rem 1rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__header{
    flex: 1;
    padding: 0;
    background: transparent;
  }

  .nav__logo a{
    font-size: 1.5rem;
    color: var(--primary-color);
  }

  .nav__logo a span{
    padding: 4px 14px;
    color: var(--white);
    background-color: var(--primary-color);
  }

  .nav__menu__btn{
    display: none;
  }

  .nav__links{
    position: static;
    padding: 0;
    max-width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a{
    color: var(--primary-color);
  }

  .nav__links a:hover{
    color: var(--primary-color-dark);
  }

  .nav__links li:last-child{
    display: none;
  }

  .nav__btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .nav__btn a {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
    white-space: nowrap;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
  }

  .nav__btn a:hover {
    color: var(--white);
    background-color: var(--primary-color);
  }

  .header__container{
    grid-template-columns: repeat(2 ,1fr);
    align-items: center;
    grid-template-areas: "header-content header-image";
  }

  .header__content .section__subheader{
    margin-inline-start: unset;
  }

  .header__content :is(h1, .section__description){
    text-align: left;
  }

  .header__content .header_btns{
    justify-content: flex-start;
  }

  .header__content{
    grid-area: header-content;
  }

  .header__image{
    grid-area: header-image;
  }
}